/*comun para todas las paginas*/
body {
	background-color: #660000;
}

#general {
	width: 800px;
	margin: 0px Auto;
}

#cabecera {
	height: 23px;
	background-image: url("imagenes/fondocab.gif");
	background-repeat: repeat-x;
	background-position: top;
}

#contenido {
	width: 800px;
	background-color: #ebe9dd;
	margin: 0px 0px;
}

#col1 {
	width: 220px;
	margin: 0px 0px;
	float: left;
}

#imagen_marca {
	width: 220px;
	height: 360px;
	background-image: url("imagenes/ImagenMarca.jpg");
	background-repeat: no-repeat;
	background-position: top;
}

#menu {
	width: 170px;
	margin: 0px 0px;
}

#menu ul {
	list-style-type: none;
}

#menu ul li {
	margin-top: 3px;
}

.imagen {
	text-decoration: none;
	/*esto es un ejemplo, despues cada uno tiene q tener su propia imagen"*/
	display: block;
	width: 170px;
	height: 20px;
}

#img1.imagen {
	background-image: url("imagenes/b_historiadelvino1.gif");
}

#img2.imagen {
	background-image: url("imagenes/b_lacata1.gif");
}

#img3.imagen {
	background-image: url("imagenes/b_preguntas1.gif");
}

#img4.imagen {
	background-image: url("imagenes/b_tinto1.gif");
}

#img5.imagen {
	background-image: url("imagenes/b_blanco1.gif");
}

#img6.imagen {
	background-image: url("imagenes/b_rosado1.gif");
}

#menu ul li     #img1.imagen:hover {
	background-image: url("imagenes/b_historiadelvino2.gif");
}

#menu ul li     #img2.imagen:hover {
	background-image: url("imagenes/b_lacata2.gif");
}

#menu ul li     #img3.imagen:hover {
	background-image: url("imagenes/b_preguntas2.gif");
}

#menu ul li     #img4.imagen:hover {
	background-image: url("imagenes/b_tinto2.gif");
}

#menu ul li     #img5.imagen:hover {
	background-image: url("imagenes/b_blanco2.gif");
}

#menu ul li #img6.imagen:hover {
	background-image: url("imagenes/b_rosado2.gif");
}

#menu ul li a span {
	visibility: hidden;
}

#col2 {
	width: 570px;
	margin-left: 230px;
}
/* clase comun de todas las paginas para situar la imagen del titulo*/
.tit_img {
	width: 471px;
	height: 88px;
	margin: 0px 50px;
	background-repeat: no-repeat;
	background-position: center;
}
/* las imagenes de los titulos de cada pagina*/
#tit_historia.tit_img {
	background-image: url("imagenes/tit_historia.gif");
}

#tit_lacata.tit_img {
	background-image: url("imagenes/tit_lacata.gif");
}

#tit_preguntas.tit_img {
	background-image: url("imagenes/tit_preguntas.gif");
}

#tit_tinto.tit_img {
	background-image: url("imagenes/tit_tinto.gif");
}

#tit_rosado.tit_img {
	background-image: url("imagenes/tit_rosado.gif");
}

#tit_blanco.tit_img {
	background-image: url("imagenes/tit_blanco.gif");
}
/* formato texto en comun para la historia del vino, preguntas y la cata*/
#text1 {
	font-size: 11px;
	font-family: verdana, sans-serif;
	text-align: justify;
	padding: 0px 3px;
}
/* colocar bien las imagenes en la pagina de la historia del vino*/
#uvas {
	width: 210px;
	height: 110px;
	background-image: url("imagenes/uvas.jpg");
	float: left;
}

#imagenes {
	margin: 20px 0px;
}

#corcho {
	width: 210px;
	height: 110px;
	background-image: url("imagenes/corcho.jpg");
	margin-left: 220px;
}
/*estilo comun para las paginas de los vinos, para colocar las fotos y el texto con su formato*/
.vinos {
	font-size: 11px;
	font-family: verdana, sans-serif;
	height: 100px;
	margin: 20px 10px;
}

.fotos {
	height: 100px;
	margin-right: 10px;
	float: left;
}

/*preguntas en negrita y con color*/
#text1 ol li a {
	margin: 30px 0px;
	color: #5e3634;
	font-weight: bold;
}
/* clase en comun para todas las paginas*/
.negrita {
	font-weight: bold;
}
/*sombra de pie de pagina y mail de contacto en comun para todas las paginas*/

#contacto {
	font-size: 80%;
	font-weight: bold;
	color: #5e3634;
	margin: 30px 120px;
}

#pie {
	width: 800px;
	height: 23px;
	background-image: url("imagenes/fondopie.gif");
	background-position: top;
	background-repeat: repeat-x;
}