body{
  background-color: #999999;
  }
#general{
  background-color: #435b28;
  width:800px;
  margin: 0px auto;
  }
#cabecera{
  width:800px;
  height:167px;
  background-image: url("cabecera.jpg");
  background-position: center;
  background-repeat: no-repeat;
  }
 ul{
    list-style: none;
    background-color: #95b48b;
    }
 li{
 	display: block;
 	float: left;
 	}