body{
  background-color: #999999;
  }
#general{
  background-color: #435b28;
  width:800px;
  margin: 0px auto;
  }
#cebecera{
  width:780px;
  height:157px;
  background-image: url("cabecera.jpg");
  background-repeat: no-repeat;
  background-position: center;
  }