/* Padding y margin */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,
	/* p, */ blockquote,th,td {
	margin: 0;
	padding: 0;
}

/* Tamaños de los headers */
h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
}

/* Estilos de las listas
ol, ul {
list-style: none;
}*/ /* Estilo y grosor de las fuentes */
address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}

/* Bordes de las tablas */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Otros bordes */
fieldset,img {
	border: 0;
}

/* Alineacón del texto */
caption,th {
	text-align: left;
}

/* Comillas */
q:before,q:after {
	content: ”;
}

#general {
	width: 800px;
	margin: 5px Auto;
	text-align: left;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

#cabecera {
	width: 800px;
	height: 130px;
	font-family: sans-serif;
	background-image: url("cabecera.jpg");
	background-position: bottom;
	background-repeat: no-repeat;
	font-size: 13px;
}

#dcha {
	float: left;
	width: 390px;
	height: 130px;
	padding-left: 10px;
	margin-top: 10px;

}
#datos_empresa{
	width:200px;
	float: left;
	}

#imagen{
	width:90px;
	height:90px;
	margin-left:271px;
	background-image: url("log.jpg");
	background-repeat: no-repeat;
	background-position: center;
}
#datos_cliente {
	width: 340px;
	height: 130px;
	margin-left: 400px;
	text-align: left;
	padding-left: 10px;
	padding-top: 40px;
	font-size: 14px;
}

.col {
	float: left;
	text-align: right;
}

#col3 {
	margin-right: 10px;
	width: 120px;
}

#col2 {
	width: 120px;
}

#col1 {
	margin-left: 10px;
	width: 530px;
	text-align: left;
}

span {
	font-weight: bold;
}

.tot {
	font-weight: bold;
}

.atrib {
	display: block;
	text-decoration: underline;
	text-transform: uppercase;
	margin-top: 10px;
}

#pie {
	width: 800px;
	clear: both;
}

#concepto {
	display: block;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	width: 770px;
	font-weight: normal;
}

#totales,#unidades {
	display: block;
	font-weight: normal;
}