body{
	font-family: helvetica;
	text-align: justify;
	font-size: 11px;
}
#general{
	width: 800px;
	margin:0px auto;
	border-style: solid;
	border-width: 1px;
}
.cabecera{
	width: 800px;
	height: 150px;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-bottom-color:#737593;
	border-bottom-width:15px;
	background-image: url("LogoAliquam/logo_escalada.jpg");
	background-repeat: no-repeat;
	background-position: top;
}
.cabecera ul{
	width:300px;
	margin-left:460px;
	margin-top:150px;
	list-style-type: none;
}
.cabecera ul li{
	display: block;
	float: left;

}
.cabecera ul li a{
color:white;
	text-decoration: none;

}
#menu_v{
	width: 200px;
	float: left;
	border-style: solid;
	border-width: 1px;
	font-size: 12px;
	background-color:#adafc6;
}
#menu_v ul{
	list-style-type: none;
  padding-left: 0;
  margin-left:0;
  text-align: center;

}
 #menu_v ul li{
 margin: 10px 30px;
 border-style: ridge;
background-color:#737593;
	border-color: #4b4d6a;
	padding: 5px 0px;

 }
#menu_v ul li a{
	text-decoration: none;

}
#contenido{
	width: 800px;
}
#informacion{
	width:593px;
	margin-left: 205px;
	border-style: solid;
	border-width: 1px;
	font-size: 12px;
}
#ajuste_columnas{
	width: 800;
	height: 1px;
	border-style: solid;
	border-width: 1px;
	clear: both;
	}
.sangria{
	text-indent: 20px;
}
#aclaracion{
	font-size: 10px;
}
.imagen{
 	background-image: url("Fotos/manos.jpg");
 	width: 200px;
 	height: 119px;
 	}