/*en el caso de los menus el uso de paddings y margins es funda-
mental, es la unica forma q tenemos de separar los elementes de
la lista. Es mas seguro utilizar los margins*/
ul{
  padding-left: 10px;
  margin-left: 10px;
  /*con la siguiente linea se quita el estilo de la lista(punto, sangrado,...)*/
  list-style-type: none;
  }
li{
 	padding-left: 12px;
 	margin-bottom: 1px;
 	display: block;
 	float: left;
 	}