#menu ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 550px;
	font-family: Arial, sans-serif;
	font-size: 15px;
	font-weight: bold;
}

#menu ul li {
	/*background-color: #cc99cc;*/
display: block;
float: left;
}
#menu ul li a {
	color: #000000;
	text-decoration: none;
	/*el enlace se comporta como el elemento que lo contiene*/

	background-color: #cc99cc;
	width:100px;
	margin:10px;
	text-align: center;

}
#menu ul li a:hover {
	background: #cc66cc;

	color: #ffffff;

}