/*REINICIAR TODOS LOS VALORES PARA QUE SE VEA IGUAL EN DISTINTOS NAVEGADORES*/

/* Padding y margin */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,
	 /*p,*/ blockquote,th,td,textarea {
	margin: 0;
	padding: 0;
}

/* Tamaños de los headers */
h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
}

/* Estilos de las listas
ol, ul {
list-style: none;
}*/ /* Estilo y grosor de las fuentes */
address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}

/* Bordes de las tablas */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Otros bordes */
fieldset,img {
	border: 0;
}

/* Alineacón del texto */
caption,th {
	text-align: left;
}

/* Comillas */
q:before,q:after {
	content: ”;
}

body{
	background-color: #fefefe;
}
#general{
	width:700px;
	background-color: #ffffff;
	border: solid 2px #ff9200;
	margin:0px auto;
	padding:2px 0px;
	font-family: verdana;
	font-size: 11px;
	color:#962b00;
}
#cabecera{
	width: 696px;
	height:80px;
	margin:0px auto;
	padding-top:20px;
	background-color: #999900;
	background-image: url("IMAGES/logo.gif");
	background-repeat: no-repeat;
	background-position: left top;
	text-align: center;
}
#cabecera form{
	margin-left:150px;
	margin-top: 20px;

	}
#actual{
	width:694px;
	height:20px;
	background-color: #cccc99;
	margin:0px auto;
	border:solid 1px transparent;
	font-size: 14px;
	font-weight: bold;
	}
#actual p{
	padding-top:0px;
	margin-top:0px;
	}
/**********************/
/**menu cabecera*******/
/**********************/
#menu{
	width:420px;
	height:20px;
	margin-left: 283px;
}
#menu ul{
	list-style: none;
}
#menu ul li{
	background-color: #dda600;
	display: block;
	float: left;
	padding: 0px 6px;
}
#menu ul li a{
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
}
/*******************/
/*****CONTENIDO*****/
/*******************/
#contenido{
	width: 696px;
	margin:0px auto;
	}
/*parte izquierda del contenido de la portada*/
#izq{
	width: 74%;
	float: left;
}
#izq_interior{
margin:10px 10px;
margin-top:30px;
	}

#imagen1{
	float: left;
}

#imagen2{
	float:right;
	}
#texto1{
	padding-left: 160px;
}
#texto2{
	padding-right: 160px;
}
#texto2 span{
	font-weight: bold;
}
/*parte derecha del contenido de la portada*/
#dcha{
	width: 25%;
	margin-left: 74%;
	padding:3px;
	background-color: #efefde;
	font-size: 10px;
}
#dcha h4{
	margin-top: 20px;
	background-color: #cccc99;
	padding: 5px 0px;
	border-bottom: solid 2px #c4896c;

}
#dcha p{
	color: #5295b1;
	font-weight: bold;
}
#dcha_interior{
	margin-top: 25px;
	}
#img_platos{
float: left;
	}
#formulario{
	width:90%;
	margin:3px auto;
	margin-top:40px;
	padding:10px 10px;
	padding-right:0px;
	background-color: #cccc99;
}
#formulario form p{
	color: #ffffff;
	font-weight: bold;
}
/*contenido de la pagina de noticias*/
#noticias{
	width: 99%;
	margin:10px auto;
	padding:0px;
 color: #0c6d9e;
}
.noticias{
	font-size: 12px;
	font-weight: bold;
	 color: #0c6d9e;
	border-bottom: solid 2px #ff9200;
	}
#noticias span{
	font-size: 14px;
	font-weight: bold;
	}
#texto_noticias{
	width: 55%;
	color: #0c6d9e;
	}
#imagen_noticias{
	float: right;
	margin: 0px;
	}
#otras_noticias{
		width: 99%;
	margin:10px auto;
	padding:0px;
 color: #0c6d9e;
	}
#otras_noticias a{
	color: #0c6d9e;
	}
.margenes{
	margin-top: 50px;
	}
/*contenido de la pagina recetas*/
.recetas{
	background-color: #cccc99;
	padding-bottom: 0px;
	margin-bottom: 0px;

	}
.alinear{
  margin-left:120px;
  display:block;
}
#palabra{
  margin-left:0px;
  display:block;
  float: left;

}
.etiquetas{
    display:block;
	float: left;
		}
/*Contenido para el glosario*/
#fondoCelda{

	table-layout:auto;
	background-color: #cccc99;

	}
/*espacio para que el contenido no se
adecue al tamaño de la columna derecha, si no al mas largo*/
#espacio{
	width: 698px;
	height: 0px;
	clear: both;
	}
/*pie de pagina*/
#pie{

	width:696px;
	height:20px;
	text-align: center;

	margin: 0px auto;
	background-color: #cccc99;
	border: solid 1px #cccc99;
}
/*****************************/
/**tabla para graficos********/
/*****************************/
#interior1{
background-image: url("IMAGES/encuesta/AZUL.GIF");
border-style: solid;
border-width: 1px;
border-color:#000000;
}
#interior2{
background-image: url("IMAGES/encuesta/ROJO.GIF");
border-style: solid;
border-width: 1px;
border-color:#000000;

}
#interior3{
background-image: url("IMAGES/encuesta/VERDE.GIF");
border-style: solid;
border-width: 1px;
border-color:#000000;
}
h4{
	margin:10px 0px;
	border-bottom: solid 2px #ff9200;
	}
h3{
	margin:20px 0px;
}