body{
	background-color: #CCCC99;
	text-align: center;
	margin: 20px;
	font-family: "Courier New",Courier, monospace;
	font-size: 14px;
	color: #006600;
	}
h1{
	font-weight: bold;
	}
h2{
	color: #990000;
	}
h3{
	color: #990000;
	}
#ultimoParrafo{
	font-weight: bold;
    }